@import "../../styles/colors.scss";

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid $card-border;
  background-color: $card-background;
  border-radius: 1.6rem;
  width: max-content;
  height: 28rem;
  padding: 7.5rem;
  overflow: hidden;
  margin-right: 8rem;
  margin-bottom: 8rem;
  & h1:first-child {
    margin-bottom: 5rem;
  }
  & h1:last-child {
    font-size: 4.6rem;
    font-weight: 600;
  }
}
