$active: #14142b;
$text-dark: #4e4b66;
$background: #f7f7fc;
$card-border: #d6d8e7;
$card-background: #fff;
$card-text: #4e4b66;
$edit: #624af2;
$delete: #eb0055;
$text-light: #fcfcfc;
$label: #6e7191;
$button: #eff0f6;
$modal: #fff;
