@import "./colors.scss";
@import "./fonts.scss";
@import "./screenSizes.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  font-size: 62.5%;

  background-color: $background;
  @media screen and (max-width: $mobile) {
    font-size: 50%;
  }
  @media screen and (max-width: $middle) {
    font-size: 55%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toaster {
  transform: scale(1.5) translateX(-7rem) translateY(-4rem);
  @media screen and (max-width: 480px) {
    transform: none;
    font-size: 2rem;
    & > div {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      padding: 2rem 1rem;
    }
    & svg {
      height: 3rem;
      width: 3rem;
    }
  }
}
