@import "../../styles/screenSizes.scss";

.ProfilesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;
  @media screen and (max-width: $middle) {
    justify-content: center;
  }
  @media screen and (max-width: $mobile) {
    align-items: center;
    flex-direction: column;
  }

  & > section {
    margin-bottom: 6rem;
    margin-right: 6rem;
    @media screen and (max-width: $middle) {
      margin-right: 3rem;
      margin-bottom: 3rem;
    }
    @media screen and (max-width: $mobile) {
      align-items: center;
      flex-direction: column;
      margin-right: 0;
      width: 100%;
    }
  }
}

.UserDetailsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
